@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Papstar Chicken Custom Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.05em;
}

.bg-papstar-red {
  background-color: #E62325;
}

.bg-papstar-yellow {
  background-color: #FFF200;
}

.text-papstar-red {
  color: #E62325;
}

.text-papstar-black {
  color: #111111;
}


/* Hide scrollbar for mobile nav */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Image loading optimization */
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Preload critical images */
.preload-image {
  content: '';
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 1px;
  height: 1px;
}